@page "/"
@using Web.Component.NAS.FileExplorer

<PageTitle>Index</PageTitle>
<h1>File explorer</h1>
dos
Welcome to your new app.
<FileExplorer/>
<SurveyPrompt Title="How is Blazor working for you?" />
