@namespace WebApp.Component.Cron
<div class="card">
        <div class="card-body">
            <h3>Cron</h3>
        </div>
    </div>
<div class="card">
        <div class="card-body">
            <h3>Cron</h3>
        </div>
    </div>


@code {
    
}