<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="align-content-center justify-content-center text-center">
            <div>
                <h2 class="text-white pb-2 fw-bold ">Hello</h2>
                <input class="path-input form-control" style=""/>
            </div>
        </div>
    </div>
</div>

@code {
    
}