.navbar-toggler {
  border-color: transparent;
}

.top-row {
  height: 3.5rem;
  background-color: #1572e8 !important;
  box-shadow: 0px 0px 5px rgb(18 23 39 / 50%);
}
.logo {
  font-size: 1.4em;
}
.logo-text {
  font-size: 1.3em;
  margin-left: 10px;
}
.navbar-brand {
  font-size: 1.1rem;
}

.oi {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-item {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.nav-item:first-of-type {
  padding-top: 1rem;
}

.nav-item:last-of-type {
  padding-bottom: 1rem;
}

.nav-item ::deep a {
  color: #575962;
  border-radius: 4px;
  height: 3rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
}

.nav-item ::deep a.active {
  background: #1572e8 !important;
  box-shadow: 4px 4px 10px 0 rgb(0 0 0 / 10%),
    4px 4px 15px -5px rgb(21 114 232 / 40%);

  color: white;
}

.nav-item ::deep a:hover {
  background: rgba(199, 199, 199, 0.2);
}

@media (min-width: 641px) {
  .navbar-toggler {
    display: none;
  }

  .collapse {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }
}
.navbar-toggler-icon{
  background-image: none;
  font-size: 1.5em;
  height: 1em;
  color: #fff;
}