<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><span class="bi bi-award-fill logo" aria-hidden="true"></span> <span class="logo-text">Dashboard</span></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"><i class="bi bi-list"></i></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi bi bi-house-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="files">
                <span class="oi bi bi-folder-fill" aria-hidden="true"></span> File Explorer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cron">
                <span class="oi bi bi-calendar-check-fill" aria-hidden="true"></span> Cron
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monitor">
                <span class="oi bi bi-pc-display-horizontal" aria-hidden="true"></span> Monitor
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="apps">
                <span class="oi bi bi-terminal-fill" aria-hidden="true"></span> Apps
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="config">
                <span class="oi bi bi-dpad-fill" aria-hidden="true"></span> Config
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
